# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Директории сборки (если вы решите использовать сборку в будущем)
dist/
build/

# Файлы окружения
.env

# Логи
logs/
*.log

# Операционные системы
.DS_Store
Thumbs.db

# IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Другие временные файлы
*.tmp
