body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34; /* Темный фон */
    color: white; /* Цвет текста */
}

.container {
    text-align: center;
}
